<!DOCTYPE html>
<html ng-app>
  <head>
  	<!--edit the title for your own name-->
    <title>Guess What</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
body {
    background-image: url("/images/classic_cars.jpg");
    background-repeat: no-repeat;
}
</style>
  </head>
  <body>
<!--background="/images/classic_cars.jpg"-->
    <h1>Guess What</h1>
    <!--copy the lines below to your index.ejs file-->
    <p>Click on a link to visit a page.</p>
    <ul>
		<li><a href="sports.html">My favorite sports</a></li>
		<li><a href="aboutme.html">About Me</a></li>
	</ul>
	 <!--end of section to copy-->
	<p>The user count in my nodejs application is: <%= userCount %></p>   <!--copy this line for userbytwo-->
	<p>You're a loser</p>
</body>
</html>
